<% layout('layouts/boilerplate') %>

<h1>Todos:</h1>

<ul>
    <% for (let todo of todos) {%>
    <li>
        <a href="/<%= todo.id %>"> <%= todo.title %> </a>
    </li>
    <% } %>
</ul>

<a class="btn btn-primary" href="/new">New Todo</a>
